.fundo{
    background-color: rgb(236, 232, 232);
}

a{
    text-decoration: none;
    color: black;
}

.padding{
    padding: 50px;
    padding-top: 120px;
}

.font_tamanho{
    font-size: xx-large;
}





/* ################################ HEADER ################################### */

header{
    display: flex;
    justify-content: space-between;
}

.logo{
    background-color: red;
}

.menu{
    display: inline-block;
    margin-right: 400px;
    font-size: large;
}

.menu ul{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 5px;
}

.menu li:hover{

    border: 1px solid black;
}

/* ############################# FIM HEADER ################################### */

/* ######################### ENERGIA SOLAR #################################### */

.energiasol{
    display: flex;
    justify-content: space-around;   
}

.imagem_energia{
    width: 50%;
}


/* ##################### FIM ENERGIA SOLAR #################################### */