.cor_azul{
    background-color: rgb(100, 183, 238);
}

.fundo{
    background-color: #eaedef;
}

a{
    text-decoration: none;
    color: black;
}

.padding{
    padding: 50px;
    padding-top: 120px;
    
}

.font_tamanho{
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.linha{
    width: 80%;
}

.linha2{
    width: 180px;
}

.titulo{
    font-size: 2em;
    text-align: center;
    margin: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    font-family: 'titulos', sans-serif;
}

.alinhar{
    margin-left: 280px;
}

.margin{
    margin: 0 auto;
    width: 100%;
}


/* ################################ HEADER ################################### */

header{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding-right: 50px;
}

.tamanhologo{
    width: 250px;
}

.menu{
    display: inline-block;
    margin-right: 400px;
    font-size: large;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu li::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: aqua;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: 0.35s;
}

.menu li:hover::before{
    scale: 1;
}

/* ############################# FIM HEADER ################################### */

/* ######################### ENERGIA SOLAR #################################### */

.flex{
    display: flex;
    justify-content: space-around;   
}

.imagem_energia{
    width: 750px;
}


/* ##################### FIM ENERGIA SOLAR #################################### */


/* ##################### INICIO VISAO ######################################### */

.visao{
    background-color: rgb(100, 183, 238);
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.texto_visao{
    background-color: rgb(255, 255, 255);

}

.imagens{
    width: 150px;
    margin-top: 5px;
}

.texto{
    background-color:  rgb(100, 183, 238);
    padding-bottom: 80px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.texto_p{
    font-size: 15px;
}

/* ##################### FIM VISAO ############################################ */

/* ##################### INCIO PRODUTO ############################################ */

.produtos{
    display: flex;
    justify-content: space-around;
}

.imagens_prod{
    margin: 0px 50px;
    border: 1px solid white;
    width: 250px;
}

.imagens_prod:hover{
    -webkit-transition: all 1.3s ease;
    -o-transition: all 1.8s ease;
    transition: all 1.2s ease;
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    border: 1px solid rgb(112, 188, 211);
}

.selecionar{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border: 1px solid white;
}

.selecionar:hover{
    color: rgb(0, 122, 223);
    font-weight: bold;
    padding: 10px;
    border: 1px solid  rgb(112, 188, 211);
    transition: all 1.2s ease;
}

.w50{
    width: 50%;
    margin: 20px auto;
}

/* ##################### FIM PRODUTO ############################################ */

/* ##################### INCIO SERVIÇO ############################################ */

.servicos{
     display: flex;
     flex-direction: column;
}

.servicos ul{
     display: flex;
     justify-content: center;
}

.servicos ul li{
     width: 18%;
     list-style: none; 
     padding-right: 14px;
}

.img_servico{
    width: 100%;
}

/* ##################### FIM SERVIÇO ############################################ */

/* ##################### INCIO SOBRE NÓS ############################################ */

.texto_sobre{
    width: 75%;
}

.sobre_p{
    width: 80%;
    margin: 0 auto;
}



/* ##################### FIM SOBRE NÓS ############################################ */

/* ##################### INCIO FOOTER ######################################### */

.titulo_contato{
    margin: 0 auto;
}

.form{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.campo_form{
    outline: none;
    background-color: rgb(100, 183, 238);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 30.50%;
}

.campo_form_msg{
    outline: none;
    background-color: rgb(100, 183, 238);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 64%;
}

.botao{
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}

.botao_form{
    text-align: center;
    padding-top: 2pt;
    height: 35px;
    width: 90px;
    font-size: 12pt;
    font-weight: bold;
    background-color: rgb(100, 183, 238);
    color: white;
    border: 2px solid white;
}

.botao_form:hover{
    color:  rgb(100, 183, 238);
    background-color: white;
    cursor: pointer;
}

.imagemdiv{
    width: 50%;
}

.imagem{
    width: 80%;
}

.p_contato{

}

.imgs{
    gap: 10px;
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
    margin-right: 50px;
}

.img_rede{
    width: 25px;
    padding: 10px;
    border: 1px solid black;
}
